apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: devops-api-monitor
  labels:
    app: devops-api
spec:
  selector:
    matchLabels:
      app: devops-api
  endpoints:
  - port: http
    path: /metrics
    interval: 30s